
.editMode-btn{
    padding:6px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-color:#004AAD ;
    color: #f8f8f8;
    width: 90%;
}
.editMode-btn:hover{
    background-color:#0056b3 ;
}
.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.edit-btn {
    background-color:rgb(94, 210, 94);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.edit-bar{
    width: 10%;
}