.sort-btn {
    padding:6px 10px;
    text-align: center;
    border-radius: 4px;
    border: none;
    background-color:#004AAD ;
    color: #f8f8f8;
    width: 90%;
}
.sort-bar{
    width: 10%;
    z-index: 99;
}
.sort-bar-content {
    display: none;
    z-index: 1;
    width: 90%;
    position: absolute;
}
.sort-bar-content li {
    text-decoration: none;
    display: block;
    margin: 0;
}
.sort-bar-content button {
    width: 100%;
    border: 1px solid black;
    margin: 0;
    height: 60px100px;
}
.sort-bar-content ul {
    position: relative;
    width: 20%;
    padding: 0;
    border-radius: 5px;
    margin: 0;
    background-color: whitesmoke;
   
}
.sort-bar-content button:hover {
    background-color: #007bff;
}
.sort-bar:hover .sort-bar-content {
    display: block;
}