.chart-container {
    position: relative;
    width: 100%;
    height: 80vh;
    padding: 20px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .chart-container {
        min-height: 250px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chart-container {
        min-height: 200px;
        padding: 5px;
    }
}
